@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  background-color: #e7ebf0;
  font-family: "Roboto";
}
.l-header .row {
  line-height: 60px;
  background-color: #008a9a;
  color: #f9f3f3;
}
.l-header .columns {
  padding: 0;
  margin: 0;
}
/* Menu. */
.dropdown-header, #page-name {
  padding-left: 30px;
}
.dropdown-header:hover, .dropdown-header.active {
  background-color: #0e7f9a;
  color: #fff;
  cursor: pointer;
}
.icon-hamburger-wrap {
  display: inline-block;
  width: 18px;
  vertical-align: middle;
  margin-right: 50px;
}
.icon-hamburger-wrap .icon-bar {
  background-color: #fff;
  display: block;
  height: 2px;
  margin: 0;
  transition: .1s;
}
.icon-hamburger-wrap .icon-bar:nth-child(2) {
  margin-bottom: 3px;
  margin-top: 3px;
}
.icon-hamburger-wrap .icon-bar:nth-child(2).active {
  margin-bottom: 4px;
  margin-top: 4px;
}
#site-name {
  display: inline-block;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;
  min-width: 160px;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .15);
  background-clip: padding-box;
  padding-top: 15px;
}
.dropdown-menu li {
  font-size: 12px;
  line-height: 21px;
  color: #42749b;
  float: none;
}
.dropdown-menu li a {
  padding: 11px 19px 10px 21px;
}
.dropdown-menu li:hover {
  background-color: #99dee6;
}
#toolbar {
  height: 72px;
  line-height: 72px;
  background-color: #00acc1;
}
.l-main {
  height: calc(100vh - 170px);
  background-color: #fff;
  border-left: 1px solid #797b7e;
  border-right: 1px solid #797b7e;
  border-bottom: 1px solid #797b7e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.l-main .main {
  padding: 0;
}
/* Left column. */
#list-wrapper {
  height: calc(100vh - 170px);
  padding: 10px 0;
  border-right: 1px solid rgba(0, 0, 0, .25);
}
.list-item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 72px;
  padding-left: 18px;
}
.list-item:hover {
  /*background-color: #f2f6fa;*/
  background-color: #99dee6;
  cursor: pointer;
}
.list-item.vcard-processed {
  background-color: #00acc1;
}
.logo-micro {
  width: 64px;
  margin-right: 40px;
}
/* NanoSlider. */
.nano > .nano-pane {
  width: 3px;
  background-color: #f2f2f2;
}
.nano > .nano-pane > .nano-slider {
  margin: 0;
  background-color: #a9a9a9;
}
/* Right column. */
/* "Add VCard" link. */
#add-vcard-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
#add-vcard-wrapper a {
  font-size: 100px;
  border: 1px solid;
  border-radius: 100%;
}
/* VCard view. */
#vcard-view-wrapper {
  height: calc(100vh - 170px);
  padding: 10px 30px;
}
.vcard-with-actions {
  display: flex;
}
.vcard-with-actions .actions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 15px;
}
.vcard-with-actions .actions a {
  width: 24px;
  height: 24px;
  display: table;
}
#vcard-view-wrapper .vcard-image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#vcard-view-wrapper .row {
  margin: 0;
}
.vcard-description .columns {
  display: flex;
  align-items: start;
  padding: 25px 20px;
}
.vcard-description .row .large-6:first-of-type {
  border-right: 1px solid rgba(0, 0, 0, .15);
}
.vcard-description .icon {
  width: 24px;
  height: 24px;
  display: table;
  margin-right: 20px;
}
