
.icon-youtube:before { content: '\e800'; } /* '' */
.icon-delicious:before { content: '\e801'; } /* '' */
.icon-digg:before { content: '\e802'; } /* '' */
.icon-flickr:before { content: '\e803'; } /* '' */
.icon-yahoo:before { content: '\e804'; } /* '' */
.icon-myspace:before { content: '\e805'; } /* '' */
.icon-reddit:before { content: '\e806'; } /* '' */
.icon-slideshare:before { content: '\e807'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-vimeo:before { content: '\f306'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-stumbleupon:before { content: '\f31e'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */
.icon-behance:before { content: '\f34e'; } /* '' */