.view-user-vcards-page .views-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vcard-rendered {
  border: 1px solid #000;
}
.field-name-field-json {
  display: none;
}
